.table-container {
  display: flex;
  flex-direction: column;

   &__controls {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 1rem;
  }

  .table-controls {
    display: flex;
    justify-content: flex-end;

    &__filter {
     width: 100%;
     max-width: 400px;
   }

   &__title {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    flex-grow: 1;
   }
  }
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;


  th, td {
    padding: 8px;
    text-align: left;
  }

  &__thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

 
}
