.sidebar {
  width: 230px;
  border-right: 0.5px solid #e0e0e0;
  height: 100vh;
  padding: 1rem 0;
  position: sticky;
  top: 0;

  &__header {
    padding: 0 1rem 1rem;
    text-align: center;
    font-size: 3.25rem;
    color: #fafafa;
    margin-top: 18px;
  }

  &__list {
    padding: 1rem 0.5rem;

    a {
      margin-top: 0.5rem;
    }
  }

  &__item {
    mat-icon {
      margin-right: 1rem;
      color: #666;
    }
  }

  &__currency-selector {
    position: absolute;
    bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
